@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    background: url(pokemon..png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

h1 {
    position: relative;
    font-size: 20px;
    font-family: 'Press Start 2P';
}

img {
    display: none;
    height: 200px;
    width: 200px;
    margin: 50px;
}

#Pokemons {
    font-family: 'Inter';
}

.PokemonName {
    font-size: 10px;
    font-family: 'Press Start 2P';
    width: 100px;
    height: 50px;
}

.container {
    top: 50%;
    left: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%,-50%);
}

table{
    border-collapse: collapse;
    text-align: center;
}

.btn {
    font-size: 17px;
    font-family: 'Press Start 2P', cursive;
    width: 200px;
    height: 50px;
    background: #48CFCB;
    border: 10px;
    margin: 10px;
    position: relative;
    box-shadow: 
        inset -4px 2px 1px 1px gray, 
        inset -4px -2px 1px 1px lightgrey, 
        inset 4px 0px 1px 1px lightgrey;
}

.ButtonPage {
    font-size: 7px;
    font-family: 'Press Start 2P', cursive;
    width: 80px;
    height: 30px;
    background: #48CFCB;
    border: 10px;
    margin: 10px;
    position: relative;
    box-shadow: 
        inset -4px 2px 1px 1px gray, 
        inset -4px -2px 1px 1px lightgrey, 
        inset 4px 0px 1px 1px lightgrey;
}

.btn:hover, .ButtonPage:hover {
    cursor: pointer;
    background-color: #229799;
}

.btn:active, .ButtonPage:active {
    top: 5px;
    box-shadow:
        -4px 2px 1px 1px gray,
        -4px -2px 1px 1px lightgrey,
        4px 0px 1px 1px lightgrey;
}

.btn::after, .ButtonPage::after {
    content: '';
    background: black;
    position: absolute;
    left: -2.5%;
    top: 0;
    width: 105%;
    height: 100%;
    z-index: -1;
}

.btn::before, .ButtonPage::before  {
    content: '';
    background: black;
    position: absolute;
    left: 0;
    top: -5%;
    width: 100%;
    height: 113%;
    z-index: -1;
}


footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}
  
